<div (wheel)="onScroll($event)" class="main">
    <div class="lside img2">
        <div class="whiteBlur"></div>
    </div>
    <div class="mainBlock img2">
      <div class="info">
        <div class="site">
            <h4>STFORESTS.COM</h4>
        </div>
        <div class="text">
            <h1 class="th1">WE INVITE</h1>
            <h1 class="th2">YOU TO</h1>
            <h1 class="th3">SAVE OUR</h1>
            <h1 class="th4">FORESTS,</h1>
            <h1 class="th5">TAKE CARE</h1>
            <h1 class="th6">OF OUR</h1>
            <h1 class="th7">NATURE</h1>
        </div>
        <div class="logo"></div>
      </div>
      <div class="elipses">
        <div class="elipse">
          <div class="l1"></div>
        </div>
        <div class="elipse">
          <div class="l1"></div>
        </div>
        <div class="elipse">
          <div class="l1"></div>
        </div>
      </div>
      <div class="textBlock">
        <p class="date">23/03/ | DAY OF FORESTS</p>
      </div>
    </div>
    <div class="rside img2">
        <div class="whiteBlur"></div>
    </div>
  </div>
