<div (wheel)="onScroll($event)" class="main">
  <div class="lside img2">
      <div class="whiteBlur"></div>
  </div>
  <div class="mainBlock img2">
    <div class="blackBlur">
      <div class="textBlock">
        <p class="date d1">LET`S SAVE THE FORESTS</p>
      </div>
      <div class="elipse">
        <div class="logo"></div>
      </div>
      <div class="textBlock">
        <p class="date d2">LET`S SAVE THE FORESTS</p>
      </div>
    </div>
    
  </div>
  <div class="rside img2">
      <div class="whiteBlur"></div>
  </div>
</div>