<div (wheel)="onScroll($event)" class="main">
    <div class="lside img2">
        <div class="whiteBlur"></div>
    </div>
    <div class="mainBlock img2">
      <div class="blackBlur">
        <div class="textBlock">
          <p class="date d1">21/03/ | DAY OF FORESTS</p>
        </div>
        <div class="elipse">
          <p class="mainText t1">C</p>
          <p class="mainText t2">A</p>
          <p class="mainText t3">R</p>
          <p class="mainText t4">E</p>
        </div>
        <div class="textBlock">
          <p class="date d2">21/03/ | DAY OF FORESTS</p>
        </div>
      </div>
    </div>
    <div class="rside img2">
        <div class="whiteBlur"></div>
    </div>
  </div>