*
{
    margin: 0; padding: 0;
}

.main
{
    width: 100%; height: 100vh;
    display: flex;
    overflow: hidden;
}

.lside
{
    width: 25%;
    background-image: url(../../assets/Images/Page2/Left.png);  
    background-position: center;
    background-size: cover;
}

.rside
{
    width: 25%;
    background-image: url(../../assets/Images/Page2/Right.png); 
    background-position: center; 
    background-size: cover;
}

.mainBlock
{
    width: 50%;
    background-image: url(../../assets/Images/Page2/Design.png);   
    background-position: center;
    background-size: cover;
}

.elipse
{
    position: relative;
    width: 70%; height: 70%;
    top: 15%;
    background-image: url(../../assets/Images/Page2/Elipse.png);  
    background-position: center;
    background-size: cover;
    display: flex;

    animation: sr 3.5s;
    animation-timing-function: cubic-bezier(.44,.24,.58,.85);
}

.mainText
{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(var(--screenIndex)* 5);
    font-weight: 600;
    position: relative;
    top: 37%;
    margin-right: 4.5%;
    margin-left: 5%;
}

.t1
{
    animation: wave 2.5s;
    animation-timing-function: cubic-bezier(.44,.24,.58,.85);
}

.t2
{
    animation: wave 2.5s;
    animation-delay: .37s;
    animation-timing-function: cubic-bezier(.44,.24,.58,.85);
}

.t3
{
    animation: wave 2.5s;
    animation-delay: .74s;
    animation-timing-function: cubic-bezier(.44,.24,.58,.85);
}

.t4
{
    animation: wave 2.5s;
    animation-delay: 1.11s;
    animation-timing-function: cubic-bezier(.44,.24,.58,.85);
}

.textBlock
{
    width: 15%;
    height: 100%;
}

.date
{
    color: white;
    font-size: calc(var(--screenIndex) * 0.7);
    width: 200%;
    letter-spacing: 2vh;
    position: relative;
    white-space: nowrap;
    z-index: 11;
}

.d1
{
    transform: rotate(-90deg);
    top: 68%;
    left: -50%;
    animation: waveD1 2.5s cubic-bezier(.44,.24,.58,.85);
    animation-fill-mode: forwards;
}

.d2
{
    transform: rotate(90deg);
    top: 46%;
    left: -50%;
    animation: waveD2 2.5s cubic-bezier(.44,.24,.58,.85);
    animation-delay: 1.11s;
    animation-fill-mode: forwards;
}

.blackBlur
{
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.125);
    display: flex;
    position: relative;
}

.whiteBlur
{
    width: 100%; height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
}

@keyframes wave 
{
    0%
    {
        top: 37%;
    }
    50%
    {
        top: 0%;
    }
}

@keyframes waveD1
{
    0%
    {
        top: 85%;
    }
    50%
    {
        top: 55%;
    }
}

@keyframes waveD2
{
    0%
    {
        top: 46%;
    }
    50%
    {
        top: 17%;
    }
    100%
    {
        top: 28%;
    }
}

@keyframes sr 
{
    0% 
    {
        top: 30%;
    }
    50%
    {
        top: 5%;
    }
    100%
    {
        top: 15%;
    }
}