<div (wheel)="onScroll($event)" class="main">
    <div class="lside img2">
        <div class="whiteBlur"></div>
    </div>
    <div class="mainBlock img2">
      <div class="invite">
        <h4>WE INVITE YOU TO SAVE</h4>
        <h4>OUR FORESTS, TAKE</h4>
        <h4>CARE OF OUR NATURE</h4>
      </div>
      <div class="elipse"></div>
      <div class="textBlock">
        <p class="mainText tl">S</p>
        <p class="mainText tl">A</p>
        <p class="mainText tr">V</p>
        <p class="mainText tr">E</p>
      </div>
      <div class="site">
        <h4>STFORESTS.COM</h4>
      </div>
    </div>
    <div class="rside img2">
        <div class="whiteBlur"></div>
    </div>
</div>
