/* You can add global styles to this file, and also import other style files */

:root
{
    --screenIndex: calc(1vw + 1vh);
    --blockBorder: 1px solid rgb(7, 11, 131);
}

body
{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}